
boto3>=1.39.7
hyperopt>=0.2.7
lightgbm>=4.6.0
mlflow>=3.1.1
pandas>=2.3.1
prefect>=3.4.8
python-dotenv>=1.1.1
scikit-learn>=1.7.0
setuptools>=80.9.0
kaggle===1.7.4.5
numpy==2.3.1
pyyaml==6.0.2
pytest==8.4.1
pytest-mock==3.14.1
ruff